body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(#113, #000);
}

.navbar {
    position: absolute;
    width: 100%;
}